@charset "UTF-8";
:root {
  --bgColor: #fff;
}

body {
  font-family: "Pretendard";
  font-size: 18px;
  color: #222;
  position: relative;
  line-height: 1;
  max-width: 1440px;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
}

.inner {
  padding: 0 40px;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Noto Sans KR", sans-serif;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: top;
}

button {
  border: 0;
  outline: none;
  box-shadow: none;
  background-color: transparent;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: url("../font/Pretendard-Bold.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src: url("../font/Pretendard-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: url("../font/Pretendard-Medium.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: url("../font/Pretendard-Regular.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-display: swap;
  src: url("../font/Pretendard-Light.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  font-display: swap;
  src: url("../font/Pretendard-ExtraLight.woff") format("woff");
}
header {
  width: 100vw;
}

.header_area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 100;
  min-width: 1330px;
  display: flex;
  align-items: center;
  padding: 20px 0 20px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1254901961);
}
.header_area .logo_area a {
  display: block;
  width: 218px;
  padding: 0 40px;
  box-sizing: border-box;
}
.header_area .logo_area a img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.header_area .gnb_area .gnb_list {
  display: flex;
  align-items: center;
}
.header_area .gnb_area .gnb_list li {
  position: relative;
}
.header_area .gnb_area .gnb_list li a {
  display: block;
  padding: 0 20px;
  box-sizing: border-box;
}
.header_area .gnb_area .gnb_list li a svg {
  width: 30px;
  height: 23px;
  display: block;
  margin-top: 8px;
}
.header_area .gnb_area .gnb_list li.link_01 svg {
  width: 99px;
  height: 23px;
}
.header_area .gnb_area .gnb_list li.link_06 svg {
  width: 61px;
  height: 23px;
}
.header_area .gnb_area .gnb_list li.link_07 {
  position: relative;
  padding-left: 20px;
}
.header_area .gnb_area .gnb_list li.link_07::after {
  content: "";
  position: absolute;
  left: 0;
  width: 1px;
  height: 23px;
  background-color: #eee;
}
.header_area .etc_area {
  margin-left: auto;
  display: flex;
  align-items: center;
  font-size: 14px;
  padding-right: 40px;
  box-sizing: border-box;
}
.header_area .etc_area ul {
  display: flex;
  align-items: center;
  margin-right: 16px;
  color: #7c7c7c;
}
.header_area .etc_area ul li {
  padding: 2px 8px;
}
.header_area .etc_area ul i {
  width: 1px;
  height: 12px;
  background-color: #ccc;
  display: block;
  margin: 0 8px 3px 8px;
}
.header_area .etc_area .input_srh {
  width: 240px;
  height: 38px;
  border: 1px solid #000;
  border-radius: 40px;
}
@media (max-width: 1600px) {
  .header_area .etc_area .input_srh {
    width: auto;
    border: none;
  }
}
.header_area .etc_area .input_srh .btn_srh {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.header_area .etc_area .input_srh .btn_srh img {
  width: 28px;
  height: 28px;
  opacity: 0.4;
  float: left;
}
@media (max-width: 1600px) {
  .header_area .etc_area .input_srh .btn_srh img {
    opacity: 1;
  }
}
.header_area .etc_area .input_srh .btn_srh strong {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.4784313725);
  margin-left: 2px;
}
@media (max-width: 1600px) {
  .header_area .etc_area .input_srh .btn_srh strong {
    display: none;
  }
}

.header_sub_area {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 128px;
  z-index: 99;
  min-width: 1330px;
  display: flex;
  align-items: end;
  background-color: #fff;
}
.header_sub_area .sub_wrap {
  width: 100%;
  padding: 0 40px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  border-bottom: 1px solid #dedede;
}
.header_sub_area .sub_wrap ol {
  display: flex;
  align-items: center;
}
.header_sub_area .sub_wrap ol li {
  padding: 14px 0;
}
.header_sub_area .sub_wrap ol li:not(:first-child) {
  position: relative;
  padding-left: 24px;
  box-sizing: border-box;
}
.header_sub_area .sub_wrap ol li:not(:first-child)::before {
  content: "";
  width: 16px;
  height: 16px;
  opacity: 20%;
  background: url(/asset/img/ico_arrowB_forward.png) no-repeat 50% 50%/cover;
  position: absolute;
  left: 6px;
  top: 48%;
  transform: translateY(-50%);
}
.header_sub_area .sub_wrap .user_area {
  width: 280px;
  display: flex;
  justify-content: end;
  margin-left: 20px;
  padding: 7px 0;
}
.header_sub_area .sub_wrap .user_area a {
  display: block;
  min-width: 73px;
  text-align: center;
  font-weight: bold;
  line-height: 1.5;
  padding: 6px 8px;
  box-sizing: border-box;
  border-radius: 8px;
}
.header_sub_area .sub_wrap .user_area a.join {
  background-color: #eee;
}
.header_sub_area .sub_wrap .user_area a.login {
  background-color: #000;
  color: #fff;
  margin-left: 6px;
}

footer {
  width: 100vw;
  border-top: 1px solid #ccc;
}

.footer_wrap {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 36px 0;
  display: flex;
  justify-content: space-between;
}
.footer_wrap ul {
  width: 20%;
  font-size: 0.8rem;
}
.footer_wrap ul li {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
  line-height: 1.5;
}
.footer_wrap ul strong {
  font-weight: 700;
}
.footer_wrap .ft_list_01 li:nth-child(1) {
  flex-direction: column;
  margin-bottom: 0.5rem;
}
.footer_wrap .ft_list_01 li:nth-child(1) p:nth-child(1) {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.footer_wrap .ft_list_01 span {
  min-width: 100px;
}
.footer_wrap .ft_list_04 {
  line-height: 1.5;
}
.footer_wrap .ft_list_04 ol {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.footer_wrap .ft_list_04 li {
  font-weight: 700;
}
.footer_wrap .ft_list_04 .img_box {
  width: 65%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.footer_wrap .ft_list_04 .img_box img:nth-child(1) {
  width: 35%;
}
.footer_wrap .ft_list_04 .img_box img:nth-child(2) {
  width: 55%;
}

body {
  overflow-x: hidden;
}

.main_area {
  position: relative;
  width: 100vw;
  height: auto;
}
@media (max-width: 1600px) {
  .main_area {
    min-width: 1400px;
  }
}

#sc_scroll_0, #sc_scroll_1 {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

#sc_scroll_0 {
  background-color: #000;
  color: #fff;
}
#sc_scroll_0 .main_logo {
  position: fixed;
  width: 100%;
  top: 50%;
  z-index: 5;
}
#sc_scroll_0 .main_logo .logo_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
#sc_scroll_0 .main_logo .logo_wrap > div {
  width: 400px;
}
#sc_scroll_0 .main_logo .logo_wrap > div.hyundai_logo {
  position: relative;
  padding-right: 6.25vw;
}
@media (max-width: 1600px) {
  #sc_scroll_0 .main_logo .logo_wrap > div.hyundai_logo {
    padding-right: 88px;
  }
}
#sc_scroll_0 .main_logo .logo_wrap > div.hyundai_logo::after {
  content: "";
  position: absolute;
  right: 3.25vw;
  top: 50%;
  transform: translateY(-50%);
  width: 3px;
  height: 120px;
  background-color: #fff;
  border-radius: 3px;
}
@media (max-width: 1600px) {
  #sc_scroll_0 .main_logo .logo_wrap > div.hyundai_logo::after {
    right: 44px;
  }
}
#sc_scroll_0 .main_logo .logo_wrap > div img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#sc_scroll_0 .main_msg {
  opacity: 0%;
  position: fixed;
  top: 50%;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
  text-align: center;
  line-height: 1.5;
}
#sc_scroll_0 .main_msg h3 {
  font-size: 5rem;
  font-weight: 900;
}
#sc_scroll_0 .main_msg p {
  font-size: 1.8rem;
  font-weight: 600;
}
#sc_scroll_0 .sticky_elem.sticky-elem-canvas {
  position: fixed;
  width: 100%;
  height: 100vh;
}
#sc_scroll_0 .sticky_elem.sticky-elem-canvas canvas {
  width: 100%;
}

#sc_scroll_0 .sticky_elem.main_logo,
#sc_scroll_0 .sticky_elem.main_msg,
#sc_scroll_0 .sticky_elem.sticky-elem-canvas {
  display: none;
}

#sc_scroll_1 {
  position: relative;
  background-color: #fff;
  padding-top: 50vh;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 1;
}
#sc_scroll_1 .main_msg {
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
  line-height: 1.2;
}
#sc_scroll_1 .card_wrap {
  display: none;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%) scale(2);
}
#sc_scroll_1 .card_wrap .card_list {
  display: flex;
  align-items: center;
  justify-content: center;
}
#sc_scroll_1 .card_wrap .card_list li {
  margin: 0 16px;
}
#sc_scroll_1 .card_wrap .card_list a {
  position: relative;
  display: block;
  width: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#sc_scroll_1 .card_wrap .card_list a img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#sc_scroll_1 .card_wrap .card_list a span {
  font-size: 1.1rem;
  font-weight: 800;
  margin-top: 20px;
}
#sc_scroll_1 .cont_wrap {
  display: none;
  position: absolute;
  width: 1200px;
  margin: 0 auto;
  top: 80%;
  left: 50%;
  transform: translate(-50%, 0);
}
#sc_scroll_1 .cont_wrap .cont_box {
  padding: 60px 0;
  border-bottom: 2px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: end;
  word-break: keep-all;
}
#sc_scroll_1 .cont_wrap .cont_box .title_box strong {
  font-size: 1.2rem;
  font-weight: 700;
}
#sc_scroll_1 .cont_wrap .cont_box .title_box .title {
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.5;
  margin-top: 0.5rem;
}
#sc_scroll_1 .cont_wrap .cont_box .title_box .desc {
  margin-top: 1.5rem;
}
#sc_scroll_1 .cont_wrap .cont_box .title_box .desc span {
  display: block;
  font-weight: 500;
  line-height: 1.2;
  margin: 0.5rem 0;
}
#sc_scroll_1 .cont_wrap .cont_box .apply_box .apply {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
#sc_scroll_1 .cont_wrap .cont_box .apply_box .apply .btn_apply {
  display: block;
  font-size: 1.1rem;
  font-weight: 600;
  background-color: #000;
  color: #fff;
  padding: 0.8em 1em;
  box-sizing: border-box;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2509803922);
}
#sc_scroll_1 .cont_wrap .cont_box .apply_box .apply .msg {
  margin-left: 18px;
}
#sc_scroll_1 .cont_wrap .cont_box .apply_box .apply .msg p {
  position: relative;
  display: block;
  padding: 0.6rem 1.8rem 0.6rem 0.6rem;
  box-sizing: border-box;
  background-color: #000;
  color: #fff;
  border-radius: 0.6rem;
  line-height: 1.2;
}
#sc_scroll_1 .cont_wrap .cont_box .apply_box .apply .msg p::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -5px;
  transform: translateY(-50%) rotate(-45deg);
  width: 10px;
  height: 10px;
  background-color: #000;
  border-radius: 2px;
}
#sc_scroll_1 .cont_wrap .cont_box .apply_box .apply .msg p::after {
  content: "";
  position: absolute;
  top: 45%;
  right: 5px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background: url(/asset/img/ico_arrowB_forward_wht.png) no-repeat center center/contain;
}
#sc_scroll_1 .cont_wrap .cont_box .apply_box .membership {
  position: relative;
  min-width: 300px;
  padding: 20px;
  box-sizing: border-box;
  border: 2px solid #ddd;
  border-radius: 1rem;
  font-weight: 700;
}
#sc_scroll_1 .cont_wrap .cont_box .apply_box .membership .desc {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
#sc_scroll_1 .cont_wrap .cont_box .apply_box .membership .desc span:nth-child(1) {
  color: #aaa;
}
#sc_scroll_1 .cont_wrap .cont_box .apply_box .membership::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 12px;
  width: 24px;
  height: 24px;
  background: url(/asset/img/ico_arrowB_forward.png) no-repeat center center/contain;
}

#sc_scroll_2 {
  position: relative;
  max-width: 1200px;
  margin: 0px auto;
  background-color: #fff;
}
#sc_scroll_2 > div {
  margin: 60px 0;
}
#sc_scroll_2 .reward_wrap {
  background-color: #eee;
  padding: 40px;
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#sc_scroll_2 .reward_wrap .title_box {
  font-weight: 700;
}
#sc_scroll_2 .reward_wrap .title_box strong {
  font-size: 1.5rem;
}
#sc_scroll_2 .reward_wrap .title_box .title {
  font-size: 2.5rem;
  line-height: 1.3;
  margin-top: 1rem;
}
#sc_scroll_2 .reward_wrap .logo_box {
  width: 220px;
}
#sc_scroll_2 .reward_wrap .logo_box img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#sc_scroll_2 .point_wrap {
  position: relative;
  width: 100%;
  min-height: 384px;
  padding: 40px;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: #0B2A4A;
  color: #fff;
  font-weight: 700;
}
#sc_scroll_2 .point_wrap strong {
  font-size: 1.5rem;
  opacity: 60%;
}
#sc_scroll_2 .point_wrap .title {
  font-size: 2.5rem;
  line-height: 1.3;
  margin-top: 1rem;
}
#sc_scroll_2 .point_wrap::after {
  content: "";
  position: absolute;
  bottom: 25px;
  right: 25px;
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.5019607843);
  border-radius: 50%;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5647058824);
}
#sc_scroll_2 .point_wrap::before {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
  background: url(/asset/img/ico_plus_b.png) no-repeat center center/contain;
}
#sc_scroll_2 .applePay_box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#sc_scroll_2 .applePay_box .img_box {
  border: 2.5px solid #000;
  border-radius: 10px;
  padding: 0 0.5rem;
  box-sizing: border-box;
}
#sc_scroll_2 .applePay_box .img_box svg {
  width: 108px;
  height: 71px;
}
#sc_scroll_2 .applePay_box .title {
  font-size: 2rem;
  font-weight: 700;
  margin: 30px 0;
}
#sc_scroll_2 .applePay_box .applyPay_link {
  color: #0070f0;
  font-weight: 700;
  font-size: 1.1rem;
}
#sc_scroll_2 .check_box {
  margin: 120px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
}
#sc_scroll_2 .check_box strong {
  font-size: 1.8rem;
  margin-bottom: 24px;
}
#sc_scroll_2 .check_box button {
  font-size: 1.2rem;
  font-weight: 700;
}
#sc_scroll_2 .service_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#sc_scroll_2 .service_box > div {
  width: calc(50% - 0.5rem);
  background-color: #eee;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}
#sc_scroll_2 .service_box > div strong {
  position: relative;
  display: block;
  font-weight: 800;
}
#sc_scroll_2 .service_box > div strong::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  top: 45%;
  left: -40px;
  transform: translateY(-50%);
  background-color: #f0f;
}
#sc_scroll_2 .service_box .sound_btn strong::before {
  background: url(/asset/img/ico_speaker.png) no-repeat center center/contain;
}
#sc_scroll_2 .service_box .down_btn strong::before {
  background: url(/asset/img/ico_download.png) no-repeat center center/contain;
}

#sc_scroll_3 {
  position: relative;
  max-width: 1200px;
  margin: 0px auto;
  word-break: keep-all;
}
#sc_scroll_3 .title {
  font-size: 1.2rem;
  font-weight: 700;
}
#sc_scroll_3 .list {
  margin: 30px 0 120px;
}
#sc_scroll_3 li {
  position: relative;
  font-size: 1.2rem;
  line-height: 1.8;
  font-weight: 500;
  margin: 10px 0;
  padding-left: 16px;
}
#sc_scroll_3 li:nth-child(5)::before {
  content: "路";
  top: 1rem;
}
#sc_scroll_3 li:nth-child(6)::before {
  content: "路";
  top: 1rem;
}
#sc_scroll_3 li:nth-child(1)::before {
  content: "路";
  top: 1rem;
}
#sc_scroll_3 li::before {
  content: "路";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
#sc_scroll_3 .dash_list li {
  padding-left: 16px;
}
#sc_scroll_3 .dash_list li::before {
  content: "-";
}

#show-scene-0 #sc_scroll_0 .sticky_elem.sticky-elem-canvas,
#show-scene-0 #sc_scroll_0 .sticky_elem.main_logo,
#show-scene-0 #sc_scroll_0 .sticky_elem.main_msg,
#show-scene-1 #sc_scroll_1 .sticky_elem.card_wrap,
#show-scene-1 #sc_scroll_1 .sticky_elem.cont_wrap {
  display: block;
}