
@font-face {
	font-family: 'Pretendard';font-weight: 700;font-display: swap;
	src:url('../font/Pretendard-Bold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';font-weight: 600;font-display: swap;
	src:url('../font/Pretendard-SemiBold.woff') format('woff');
}
@font-face {
	font-family: 'Pretendard';font-weight: 500;font-display: swap;
	src:url('../font/Pretendard-Medium.woff') format('woff');
}
@font-face {
	font-family: 'Pretendard';font-weight: 400;font-display: swap;
	src:url('../font/Pretendard-Regular.woff') format('woff');
}
@font-face {
	font-family: 'Pretendard';font-weight: 300;font-display: swap;
	src:url('../font/Pretendard-Light.woff') format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 200;
	font-display: swap;
	src:url('../font/Pretendard-ExtraLight.woff') format('woff');
}
// @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Oswald:wght@500&family=Prata&display=swap');
// font-family: 'DM Sans', sans-serif;
// font-family: 'Oswald', sans-serif;
